:root {
  --white: #fff;
  --black: #000;
  --reddish: #f56960;
  --yellowish: #f3c98b;
  --blueish: #9cf6f6;
  --main: #daa588;
  --dark: #c46d5e;
  --dark-opaque: #0d2c542e;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  font-size: 1.2rem;
}

.navLink {
  text-decoration: none;
}
