:root {
  --white: #fff;
  --black: #000;
  --reddish: #f6511d;
  --yellowish: #ffb400;
  --blueish: #00a6ed;
  --greenish: #7fb800;
  --dark: #0d2c54;
  --dark-opque: #0d2c542e;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  font-size: 1.2rem;
}

.navLink {
  text-decoration: none;
}
