h3 {
  margin-left: 2rem;
}
[data-js="overview"] {
  text-align: center;
  margin-bottom: 2rem;
}

[data-js="infoText"],
[data-js="additionalText"] {
  text-align: justify;
  padding: 0 10px;
}

[data-js="additionalText"] {
  margin-bottom: 1rem;
}
