@import "./navbar.css";
@import "./hero.css";
@import "./overview.css";
@import "./footer.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --reddish: #f56960;
  --yellowish: #f3c98b;
  --blueish: #9cf6f6;
  --main: #daa588;
  --dark: #c46d5e;
  --dark-opaque: #0d2c542e;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
